:root {

    /* custum properties - constants */
    --base-fs: 15px;
    --spacer-xsm: 0.25;
    --spacer-sm: 0.5;
    --spacer-md: 1;
    --spacer-lg: 1.5;
    --spacer-xlg: 3;

    /*Colors*/
    --clr-gary3: #7f8c8e;
    --clr-btn-body-txt: #34495e;
    --clr-btn-body-broder: #989a9a;
    --clr-gray2: #7f8c8d;
    --clr-section-bg: #ecf0f1;
    --clr-gray1: #444;
    --clr-header-btn: #2ecc71;
    --clr-heaader-bg: #27ae60;
    --clr-white: #fff;

    /*Font & weight*/
    --ff-primary: 'Lato';
    --fw-lig: 300;
    --fw-reg: 400;
    --fw-bold: 700;
    /* 16 18 20 24 64 80 */
    /* font sizes */
    --fs-xxsm: 0.750rem;
    --fs-xsm: 1rem;
    --fs-sm: 1.125rem;
    --fs-rg: 1.4rem;
    --fs-md: 1.9rem;
    --fs-mdl: 2.125rem;
    --fs-lg: 4rem;
    --fs-xlg: 5rem;
}